[Unit]
Description=identity server

[Service]
WorkingDirectory=/opt/ids
ExecStart=/usr/bin/dotnet /opt/ids/Skoruba.IdentityServer4.STS.Identity.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=idserver
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target